<div class="flex gap-2 font-bold">
  <h2>Make</h2>
  <h2>Model</h2>
  <h2>Year</h2>
</div>
<% cars.each do |car| %>
    <div class="flex gap-2" >
        <div class="make" ><%= car.make %></div>
        <div class="model" ><%= car.model %></div>
        <div class="year" ><%= car.year %></div>
    </div>
<% end %>