<table class="w-full flex flex-col gap-3 p-2 items-center">
  <thead class=" w-11/12 flex justify-center bg-neutral p-2 min-w-fit">
    <tr class="w-full flex justify-around max-w-lg">
      <th class="text-secondary text-xl font-bold px-2">Make</th>
      <th class="text-secondary text-xl font-bold px-2">Model</th>
      <th class="text-secondary text-xl font-bold px-2">Year</th>
    </tr>
  </thead>
  <tbody class="w-11/12 flex flex-col items-center p-2 bg-slate-100 gap-3 min-w-fit">
    <% cars.each do |car| %>
      <tr class="w-full max-w-lg flex justify-around">
        <td class="px-2 font-bold"><%= car.make %></td>
        <td class="px-2 font-bold"><%= car.model %></td>
        <td class="px-2 font-bold"><%= car.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
