:root {
  --text-color-1: #99E9F2;
  --text-color-2: white;
  --background-0: #031626;
  --background-color-1: #245473;
  --background-color-2: #022340d7;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-reg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 400px;
  min-width: 300px;
  height: fit-content;
  background-color: var(--background-0);
  padding: .2em 0;
  margin: 0;
}

.login-reg-container a {
  color: var(--text-color-2);
  font-size: 18px;
  padding: .5em;
}

.login-reg-header {
  font-size: 22px;
  text-transform: capitalize;
 	font-weight: bold;
 	color: var(--text-color-1);
 }

 .login-reg-form {
  background-color: var(--background-color-2);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 90%;
  border-radius: 10px;
 }

 .login-reg-form .field {
  display: flex;
  gap: .2em;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: var(--text-color-2);
 }

 .pwd-reg {
  display: flex;
  flex-direction: column;
 }

 .login-reg-form .field input {
  border: none;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--background-color-1);
  color: var(--text-color-2);
 }

 .login-reg-form .actions {
  width: 100%;
 }

 .login-reg-btn {
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  padding: .4em .5em;
  color: var(--text-white);
  background-color: var(--text-color-1);
 }
